* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: black; 
    color: #f4f4f4; 
    padding: 20px;
}

.container {
    display: flex; 
    justify-content: space-between; 
}

.left-card, .right-card {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    padding: 20px;
    width: 48%; 
}

.artist-name {
    font-size: 2em;
    margin-bottom: 10px;
}

.artist-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.creation-date, .first-album {
    margin: 10px 0;
}

.section-title {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.member-list, .location-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.member-item, .location-item {
    background: rgba(255, 255, 255, 0.2); 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: gray;
    color: black;
    border-radius: 5px;
}

.back-link a {
    color: hsl(0, 0%, 0%); 
    text-decoration: none;
}

.button-container {
    margin-top: 20px; 
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0; 
    background-color:  gray; 
    color: black; 
    text-decoration: none; 
    border-radius: 5px; 
    text-align: center;
}

.want  {
   font-style: bold;
   font-weight: 100;
}