body {

    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #000000; 
}
.Error {
    text-align: center;
    padding: 20px; 
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 300px; 
}

.code {
    color: #d9534f; 
}